body {
    margin:  0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.blog {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-img-container
{
    max-width: 300px;
    overflow: hidden;
}

.post-img
{
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 2s ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post {
    padding: 10px;
}

.post-title {
    font-size: 16px;
    font-weight: 600;
}

.post-snippet{
    margin: 0px;
    font-size: 14px;
}

.post-card {
    width: 300px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 1px 6px rgb(110, 110, 110);
    border-radius: 8px;
}
hr {
    width: 80%;
    color: grey;
}

.post-card:hover,
.post-card:focus  {
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    z-index: 1;
    /* transform: scale(1.01); */
    cursor: pointer;
}

.paper {
    background: grey
}

@media (max-width: 1024px) {
    .navbar {
        box-shadow: 0 2px 6px rgba(32, 33, 36, 0.28);
        padding-top:0px;
    }

    body {
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
     }

     .md {
        position:flex;
        align-items: flex-start;
        margin:0;
        z-index: 2;
        font-size: 16px;
        background-color: white;
        background-position: center;
        font-family: sans-serif;
    }

    .home {
        background:white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0px 0px 3px 0px grey;
        font: bold 18px/21px Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        position: -webkit-sticky;
        position: fixed;
        bottom: 3%;
        vertical-align: middle;
        right: 3%;
        z-index: 3;
        cursor: pointer;
    }

    .blog-title {
        text-align: center;
        font-size: 28px;
        padding-top: 3%;
        padding-bottom: 0%;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .blog-body {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        padding:5%;
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .blog-quote {
        text-align: left;
        font-size: 16px;
        color: grey;
        font-style: oblique;
    }

    .blog-quote:after {
        content: '\0020\00e244';
        font: 16px/1 'Material Icons';
        color:grey;
        position: relative;
    }

    .blog-img {
        align-content: center;
        align-items: center;
        width: 100%;
        margin:0px;
        padding:-5%;
    }
}

@media (min-width: 1205px) {
    .navbar {
        box-shadow: 0 2px 6px rgba(32, 33, 36, 0.28);
        margin-bottom: 10px;
    }

    .md {
        position:flex;
        align-items: flex-start;
        margin:10%;
        margin-top:10px;
        margin-bottom:10px;
        z-index: 2;
        font-size: 16px;
        background-color: white;
        background-position: center;
        font-family: sans-serif;
        box-shadow: 0px 0px 10px 0px black;
    }


    .blog-title {
        text-align: center;
        font-size: 42px;
        padding-top: 2%;
        padding-bottom: 2%;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .blog-body {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        padding:5%;
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .blog-quote {
        text-align: left;
        font-size: 20px;
        color: grey;
        font-style: oblique;
    }

    .blog-quote:after {
        content: '\0020\00e244';
        font: 20px/1 'Material Icons';
        width: 20px;
        height: 20px;
        color:grey;
        position: relative;
    }

    .home {
        background:white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0px 0px 5px 0px grey;
        font: bold 18px/21px Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        position: -webkit-sticky;
        position: fixed;
        bottom: 3%;
        vertical-align: middle;
        right: 11%;
        z-index: 3;
        cursor: pointer;
    }

    .blog-img {
        align-content: center;
        align-items: center;
        width: 100%;
        margin:0px;
        padding:-5%;
    }
}

.ft {
    margin-top:10px;
    padding: 15px;
    font-size: 12px;
    color: grey;
    text-align: center;
}

.pointer {
    position: relative;
    margin-top:25%;
    margin-left:25%;
}
