body {
    margin:  0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.blog {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-img-container
{
     max-width: 300px;
     overflow: hidden;
}

.post-img
{
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 2s ease;
}

.post {
    padding: 10px;
}

.post-title {
    padding: 2px;
    font-size: 16px;
    font-weight: 600;
}

.post-date {
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.post-snippet{
    font-size: 14px;
}

.post-card {
    width: 300px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px grey;
}

.post-card:hover,
.post-card:focus  {
    box-shadow: 0px 0px 20px 0px black;
    z-index: 1;
    transform: scale(1.01);
    cursor: pointer;
}

.paper {
    background: grey
}

@media (max-width: 1024px) {
    .md {
        position:flex;
        align-items: flex-start;
        margin:0;
        z-index: 2;
        font-size: 16px;
        background-color: white;
        background-position: center;
        font-family: sans-serif;
    }
    .blog-title {
        text-align: center;
        font-size: 28px;
        padding-top: 2%;
        padding-bottom: 0%;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .blog-body {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        padding:5%;
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .blog-quote {
        text-align: center;
        font-size: 16px;
        color: grey;
        font-style: oblique;
    }
}

@media (min-width: 1205px) {
    .md {
        position:flex;
        align-items: flex-start;
        margin:10%;
        margin-top:10px;
        margin-bottom:10px;
        cursor: pointer;
        z-index: 2;
        font-size: 16px;
        background-color: white;
        background-position: center;
        font-family: sans-serif;
        box-shadow: 0px 0px 10px 0px black;
    }


    .blog-title {
        text-align: center;
        font-size: 42px;
        padding-top: 2%;
        padding-bottom: 0%;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .blog-body {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        padding:5%;
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .blog-quote {
        text-align: center;
        font-size: 20px;
        color: grey;
        font-style: oblique;
    }
}

.blog-img {
    align-content: center;
    align-items: center;
    width: 100%;
    margin:0px;
    padding:-5%;
}

.footer {
    margin-top:10px;
    padding: 15px;
    color: grey;
    text-align: center;
}
